/* cross browser reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;  /* by setting box-sizing property on each and every element on the entire page to inherit will automatically inherit whatever we put in the border-box*/
    /*box-sizing: border-box;  border, padding are not added to the total width and total height specified for a box */
}

html {
    //this define what 1 rem will be
   font-size: 62.5%;   /* bad practice to set font-size in pixels */

    // we are passing the block of code inside the mixin respond-phone and all of the content will be called at the @content
   @include respond-phone {
    font-size: 50%;
    }

    @include respond(phone) {
        font-size: 50%;
    }
    @include respond(tab-port) {
        font-size: 60%;
    }
    @include respond(tab-land) {
        font-size: 70%;
    }
    @include respond(big-desktop) {
        font-size: 80%;
    }

}

/*rems do not support below IE version 9*/

body {
    box-sizing: border-box;
}